body, html {
	margin: 0;
	padding: 0;
}

.list-element {
	height: 20px;
	padding: 10px;
	
	&:nth-child(even) {
		background-color: silver;
		color: #000;
	}

	&:nth-child(odd) {
		background-color: pink;
		color: #000;
	}
}

.container {
	padding: 20px 0;
	font-weight: bold;
	font-size: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: cornflowerblue;
	height: 50px;

}

.list {
	list-style-type: none;
	border: solid 1px #000;

	.list-item {
		padding: 5px 0;

		&:nth-child(even) {
			background-color: #e7e6e6;
		}

		&:nth-child(odd) {
			
		}
	}
}
